<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="899890">  <td>23/10/27 14:41:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_Tc1.exectour()[pri:0, instance:Testclass_package.Get_Tc1@3688eb5b]">exectour</td> 
  <td>main@1859383896</td>   <td></td> </tr>
<tr bgcolor="6a85c4">  <td>23/10/27 14:41:15</td>   <td>7525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_Tc1.exectour()[pri:0, instance:Testclass_package.Patch_Tc1@d771cc9]">exectour</td> 
  <td>main@1859383896</td>   <td></td> </tr>
<tr bgcolor="bfa8f6">  <td>23/10/27 14:41:13</td>   <td>5227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_Tc1.exectour()[pri:0, instance:Testclass_package.Put_Tc1@5ef5c734]">exectour</td> 
  <td>main@1859383896</td>   <td></td> </tr>
<tr bgcolor="99686d">  <td>23/10/27 14:41:17</td>   <td>8779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Tc1.exectour()[pri:0, instance:Testclass_package.Post_Tc1@36b4091c]">exectour</td> 
  <td>main@1859383896</td>   <td></td> </tr>
</table>
